{% extends 'main.html' %}
{% load static %}

{%  block content  %}

    <h3>Add new category</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="tags {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <script>
        setTimeout(function(){
            let messages=document.querySelectorAll(".tags");
            messages.forEach(function(message){
                message.style.display='none';
            })}
            ,3000);
    </script>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Add category">
        <p><a href="{% url 'addExpense' %}"> Add Expense </a></p>
    </form>
{% endblock %}