{% extends 'main.html' %}
{% load static %}

{%  block content  %}

    <h3>Add expenses</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="tags  {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <script>
        setTimeout(function(){
            let messages=document.querySelectorAll(".tags");
            messages.forEach(function(message){
                message.style.display='none';
            })
        },3000)
    </script>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <label> Select Category: </label>
        <p><input  list="categories" name="categories" id="categ">
        <datalist id="categories">
            {% for category in categories %}
            <option value="{{ category }}">
            {% endfor %}
        </datalist>
        </p>
        <a href="{% url 'addCategory' %}"> Add Category </a>
        <p><input type="submit" value="Save"></p>
    </form>

{% endblock %}