{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h2>My Categories</h2>
    
    
    {% if categories %}
        <div >
            <a href="{% url 'addCategory' %}">
                + Add New Category
            </a>
        </div>
        <div class="row">
            {% for category in categories %}
                <div>
                    <div>
                        <div>
                            <div>
                                {% if category.icon %}
                                    <img src="{{ category.icon.url }}" alt="{{ category.name }}" 
                                        style="width: 50px; height: 50px; margin-right: 15px;">
                                {% endif %}
                                <h5>{{ category.name }}</h5>
                            </div>
                            
                            <div>
                                <a href="{% url 'edit_category' category.id %}">
                                    Edit
                                </a>
                                <a href="{% url 'delete_category' category.id %}">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">
            No categories yet. <a href="{% url 'addCategory' %}">Create your first category</a>
        </div>
    {% endif %}
</div>
{% endblock %}